<div class="well hoverwell thumbnail">
    <div style="margin-bottom: 10px;">
        <h2 style="display: inline; line-height: 100%;">{{site.name}}</h2>
        <button class="btn btn-info btn-lg" (click)="showStatus()"
            style="float: right; margin-top: -10px;">STATUS</button>
    </div>
    <div>
        <span class="width-20">Location: </span><span>{{site.location.address}}</span>
        <span>&nbsp;</span>
        <span>{{site.location.city}}, {{site.location.country}}</span>
    </div>
    <div>Longitude: {{site.coordinates.longitude}}</div>
    <div>Latitude: {{site.coordinates.latitude}}</div>
    <div>Vendor: {{site.contractor.name}}</div>
    <div>Maintenance Personnel: {{site.maintenancePersonnel.firstName + ' ' + site.maintenancePersonnel.lastName}}</div>
    <div>Contact Phone: {{site.maintenancePersonnel.phone}}</div>
</div>